<app-v-menu-bar></app-v-menu-bar>

<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">

            <h6 class="text-center pb-3 pt-3 border-bottom border-warning mb-3 orange lighten-5 black-text">
                <i class="icofont-plus"></i>&nbsp;
                <small><b>Ajouter mon établissement</b></small>
            </h6>

            <table class="w-100">
                <tr>
                    <td width="40">
                        <a href="" class="btn btn-outline-pink rounded-circle text-center z-depth-0 p-0 m-0" style="height: 40px; width: 40px; line-height: 40px;">
                            <b>1</b>
                        </a>
                    </td>
                    <td>
                        <div class="pb-1 grey lighten-3"></div>
                    </td>
                    <td width="40">
                        <a href="" class="btn btn-outline-green disabled rounded-circle text-center z-depth-0 p-0 m-0" style="height: 40px; width: 40px; line-height: 40px;">
                            <b>2</b>
                        </a>
                    </td>
                </tr>
            </table>

            <form action="" method="post" class="mt-2">
                <div class="md-form mb-0 mt-1">
                    <input type="email" id="email" class="form-control font-size-14 mb-0" placeholder="Saisir dans le champs ...">
                </div>
                <label for="email" class="mb-0 mt-0"><small><b>Email</b></small></label>

                <div class="md-form mb-0 mt-1">
                    <input type="password" id="password" class="form-control font-size-14 mb-0" placeholder="Saisir dans le champs ...">
                </div>
                <label for="password" class="mb-0 mt-0"><small><b>Mot de passe</b></small></label>

                <div class="md-form mb-0 mt-1">
                    <input type="password" id="password_confirm" class="form-control font-size-14 mb-0" placeholder="Saisir dans le champs ...">
                </div>
                <label for="password_confirm" class="mb-0 mt-0"><small><b>Confirmer mot de passe</b></small></label>

                <a [routerLink]="['/users/etablissement/register/mail_sent']" class="btn btn-primary btn-block btn-md rounded z-depth-0 mt-3">
                    Soumettre
                </a>
            </form>

        </div>
    </div>
</div>